  <div class="row slidein"
  style="margin-top: 6rem; width: 100%; text-align: center; background-image: linear-gradient(to bottom, rgba(194, 194, 194, 0.782), rgba(17, 1, 1, 0.551))">
    <div class="col" style="margin-left: 1vw;">
      <div class="message-body-heading">
        <h1 style="margin-top: 10px;">Our Address</h1>
        <!-- <h4 style="margin-top: 50px;"></h4> -->
      </div>
      <h6><b>Prabhat Rural Development Society,</b></h6>
      <h6>Jagarajupalli (V)– 515 133,</h6>
      <h6>Puttaparthi-(M),</h6>
      <h6>Sri Satya Sai District - Andhra Pradesh</h6>
      <a href="tel:9441869714 " style="color: white;">
        <h6><b>Phone:</b>+91 9441869714 </h6>
      </a>
      <a href="mailto:prdsjrp59@rediffmail.com" style="color: white;">
        <h6><b>Email:</b>prdsjrp59@rediffmail.com </h6>
      </a>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3868.10515429607!2d77.76670589999999!3d14.1886189!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bb165708c8cc367%3A0x5621f9a95b351ca6!2sPrabhath%20rural%20delopment%20socity%20kothacheruvu!5e0!3m2!1sen!2sin!4v1682781705201!5m2!1sen!2sin"
        width="90%" height="270" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col">
      <div class="message-body">
        <div class="message-body-heading">
          <h2 style="margin-top: 10px;">FOR INDIAN DONATIONS:</h2>
        </div>
        <div class="message-body-heading" >
          <h5 style="color: white;"style="color: white;"> CANARA BANK Account:</h5>
          <div><span style="float:none; color: white;">Your contributions can be sent to:</span></div>
          <table class="table table-success table-striped">
            <tbody>
              <tr>
                <th scope="row">ACCOUNT NAME</th>
                <td>Prabhat Rural Development Society</td>
              </tr>
              <tr>
                <th scope="row">BANK NAME</th>
                <td>CANARA BANK </td>
              </tr>
              <tr>
                <th scope="row">ACCOUNT NUMBER</th>
                <td>31322200022734 </td>
              </tr>
              <tr>
                <th scope="row">BRANCH NAME</th>
                <td>Near General Hospital, Main Road,
                  Puttaparthi- 515134, Sri Satya Sai District
                </td>
              </tr>
              <tr>
                <th scope="row">IFSC CODE</th>
                <td>CNRB0002351</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
    <div class="col">
      <div class="message-body">
        <div class="message-body-heading">
          <h2 style="margin-top: 10px;">FOR FOREIGN DONATIONS:</h2>
        </div>
        <div class="message-body-heading">
          <h5 style="color: white;">State Bank of India:</h5>
          <div><span style="float:none; color: white;">Your contributions can be sent to:</span></div>
          <table class="table table-success table-striped">
            <tbody>
              <tr>
                <th scope="row">ACCOUNT NAME</th>
                <td>Prabhat Rural Development Society</td>
              </tr>
              <tr>
                <th scope="row">BANK NAME</th>
                <td>State Bank of India</td>
              </tr>
              <tr>
                <th scope="row">ACCOUNT NUMBER</th>
                <td colspan="2">40150387939</td>
              </tr>
              <tr>
                <th scope="row">BRANCH NAME</th>
                <td colspan="2">11Sansad Marg, New Delhi 110 001</td>
              </tr>
              <tr>
                <th scope="row">IFSC CODE</th>
                <td colspan="2">SBIN0000691</td>
              </tr>
              <tr>
                <th scope="row">SWIFT CODE</th>
                <td colspan="2">SBININBB104</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
