<div class="container animate__animated animate__slideInUp animate__slower" style="max-width: 100%;width: 100%;margin-top: 6rem; background-image: linear-gradient(to bottom, rgba(194, 194, 194, 0.782), rgba(17, 1, 1, 0.551))">
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" style="width: 80%;left: 10%;">
    <div class="carousel-inner">
      <div class="carousel-item active" style="height: 400px;">
        <iframe id="videoview" width="100%" height="100%" title="YouTube video player" style="object-fit:fill;"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="background: transparent;">
    <div class="row g-0">
      <div class="col-md-2">
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p style="color: aqua;">Ensuring a violence free society for women is a social issue and it is the responsibility of all members of society, men and women. Join hands in this movement.</p>
            <footer class="blockquote-footer" style="color: white;"><cite title="Source Title">Mother Teresa</cite></footer>
          </blockquote>
        </div>
      </div>
      <div class="col-md-4">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
              <img src="../../mt1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="../../mt2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../mt3.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../mt4.png" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-2">
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p style="color: orange;">"Love all Serve all" <br>
              "There is only one caste, the caste of humanity" <br>
              "Love lives by giving and Forgiving"</p>
            <footer class="blockquote-footer" style="color: white;"><cite title="Source Title">Sathya Sai Baba</cite></footer>
          </blockquote>
        </div>
      </div>
      <div class="col-md-4">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
              <img src="../../Sai1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="../../Sai2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../Sai3.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../Sai4.png" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="container px-4" >
    <div class="row gx-5">
      <div class="col">
        <div class="p-3 border bg-light" style="text-align: center ;color:#00AC1F"> Number of Districts<h2
            [countUp]="this.NumberOfDistricts" [options]="{ enableScrollSpy: true }">0</h2>
        </div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light" style="text-align: center;color:#00AC1F"> Number of Mandals<h2
            [countUp]="this.NumberOfVillages" [options]="{ enableScrollSpy: true }">0</h2>
        </div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light" style="text-align: center;color:#00AC1F">Number of Villages<h2
            [countUp]="this.NumberOfCooperatives" [options]="{ enableScrollSpy: true }">0</h2>
        </div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light" style="text-align: center;color:#00AC1F">Total Families<h2
            [countUp]="this.TotalMembers" [options]="{ enableScrollSpy: true }">0</h2>
        </div>
      </div>
    </div>
  </div>
 
  <div class="card-group" style="float: left;">
    <div class="card">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title">{{this.card1}}</h5>
        <p class="card-text" [innerText]="this.carddetails1"></p>

      </div>
      <!-- <div class="card-footer">
          <iframe id="videoview" width="100%" height="100%" title="YouTube video player"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div> -->
    </div>
    <div class="card">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title">{{this.card2}}</h5>
        <p class="card-text" [innerText]="this.carddetails2"></p>
      </div>
      <div class="card-footer">
      </div>
    </div>
    <div class="card">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title">{{this.card3}}</h5>
        <p class="card-text" [innerText]="this.carddetails3"></p>
        <!-- <span class="badge rounded-pill bg-light text-dark"><p>For more Details Visit: <a href="http://www.ideah.org/ " target="_blank" rel="noopener noreferrer">http://www.ideah.org/</a></p>
          </span> -->
      </div>
      <!-- <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div> -->
    </div>

  </div>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel"
    style="width: 40%;">
    <div class="offcanvas-header">
      <h5 id="offcanvasTopLabel">UPDATES</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <pdf-viewer id='pdfview' src="HomepageUpdate.pdf" [original-size]="false"
        style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;top:7%;left:0%;right:0px;bottom:0px"></pdf-viewer>
    </div>
  </div>
  <button class="btn-primary floating-right-bottom-btn animated tada" type="button" data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">UPDATES
    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
      <span class="visually-hidden">New alerts</span>
    </span>
  </button>
    
</div>